body {
    font-family: roboto;
    margin: 0px;
    background-color:aliceblue;
}
h1{
    text-align: center;
    margin-top: 100px;
}
#container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
#cont {
    text-align: center;;
}
button {
height: 30px;
margin: 100px 20px;
width: 100px;
border-radius: 5px;
padding: 5px;
}

#btnr {
background-color: aquamarine;
}
#btns {
background-color: bisque;
}

#btnp{
background-color: blueviolet;
}

#result {
    text-align: center;
    margin-bottom: 20%;
}